body{ 
    background: #ebc87b;

}
input{
    width: 50%;
    height: 30px;
    border: solid rgb(244, 68, 4);
    margin: 10px 0;
    border-radius:20px ;
    background: rgb(227, 180, 122);
    font-size: 20px;


}

button{
    width: 40px;
    height: 40px;
font-size: 30px;
color:black;
border:   solid rgb(244, 68, 4);
background: rgb(227, 180, 122);
}